<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button5" class="button button-positive  button-block">ה</button>
      <button id="page-button8" class="button button-positive  button-block">ד</button>
      <button id="page-button9" class="button button-positive  button-block">ג</button>
      <button id="page-button6" class="button button-positive  button-block">ב</button>
      <button id="page-button7" class="button button-positive  button-block">א</button>
    </div>
    <ion-list id="page-list3">
      <ion-item id="page-list-item2">Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>